
.leaflet-container {  width: 100vw;  height: 100vh; }


.searchBar {
    display: flex;
    background-color: aqua;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    
}

.searchTextInput {
    border: 1px solid black;
    width: 100px;
}

.submitButton {
    width: 50px;
}

.displayBox {
    height: 50px;
    border: 1px solid black;
    width: 70px;
}

#searchDisplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
}