
.leaflet-container {  
    width: 100vw;  
    height: 100vh; 
}

.searchBar {
    display: flex;
    flex: 1;
    flex-direction: row;
    z-index: 1000;
   
    
}

.searchTextInput {
    width: 320px;
    height: 30px;
    font-size: 15px;
}

.submitButton {
    width: 80px;
    height: 36px;
}


.displayBox {
    height: 80px;
    border: 1px solid black;
    width: 100px;
}

#searchDisplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}

.uiDisplay{
    margin: 50px;
    position: absolute;
    z-index: 1000;
}

p {
    font-size: 12px;
    margin: 5px;
}

h4 {
    margin: 5px;
}